<div class="custom-card">
  <div class="custom-card-header">
    <h2>Login</h2>
  </div>
  <form id="custom-login-form" class="custom-card-body">
    <div>
      <label for="custom-username-input-login">Username</label>
      <input type="text" id="custom-username-input-login" />
    </div>
    <div>
      <label for="custom-password-input-login" class="custom-form-label">Password</label>
      <input type="password" id="custom-password-input-login" />
    </div>
    <button type="submit" id="custom-login-btn" class="custom-btn">Login!</button>
    <a type="button" href="/custom-signup">Sign up instead</a>
  </form>
</div>

<script src="/public/js/custom-login.js"></script>
