<div class="custom-card">
  <div class="custom-card-header">
    <h2>Create an Account</h2>
  </div>
  <div id="custom-signup" role="tabpanel">
    <form id="custom-signup-form" class="custom-card-body">
      <div>
        <label for="custom-username-input-signup">Username</label>
        <input type="text" id="custom-username-input-signup" />
      </div>
      <div>
        <label for="custom-password-input-signup">Password</label>
        <input type="password" id="custom-password-input-signup" />
      </div>
      <button type="submit" id="custom-signup-btn" class="custom-btn">Sign up!</button>
      <a href="/custom-login">Login instead</a>
    </form>
  </div>
</div>

<script src="/public/js/custom-signup.js"></script>
